.DeskContainer {
    width: 1440px;
    position: absolute;
    left: 0px;
    bottom: 21px;
}

.DeskImage {
    width: 1250px;
    position: absolute;
    left: 90px;
    bottom: 50px;
}

.Button1 {
    position: absolute;
    left: 630px;
    bottom: 250px;
    width: 70px;
}
.Button2 {
    position: absolute;
    left: 755px;
    bottom: 250px;
    width: 70px;
}
.Button3 {
    position: absolute;
    left: 882px;
    bottom: 250px;
    width: 70px;
}
.Button4 {
    position: absolute;
    bottom: 250px;
    width: 70px;
}
.Switch1 {
    position: absolute;
    left: 638px;
    bottom: 130px;
    width: 50px;
}
.Switch2 {
    position: absolute;
    left: 765px;
    bottom: 130px;
    width: 50px;
}
.Switch3 {
    position: absolute;
    left: 895px;
    bottom: 130px;
    width: 50px;
}
.Lever {
    position: absolute;
    left: 166px;
    bottom: 135px;
    width: 130px;
}
.DarkMode {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 1440px;
}
.FrontDoorDarkness {
    position: absolute;
    left: 407px;
    top: 100px;
    width: 621px;
    height: 360px;
}
.LeftDoorDarkness {
    position: absolute;
    left: 097px;
    top: 100px;
    width: 95px;
    height: 600px;
}
.RightDoorDarkness {
    position: absolute;
    right: 100px;
    top: 095px;
    width: 95px;
    height: 600px;
}
.TheOffice {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 1440px;
}
.PowerBar {
    position: absolute;
    left: 620px;
    bottom: 352px;
    width: 350px;
}
.PowerPercentage {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 1090px;
    bottom: 260px;
    font-size: 50px;
}
.CameraSystem {
    position: absolute;
    left: 950px;
    bottom: 210px;
    width: 300px;
}
.CAM1 {
    position: absolute;
    right: 375px;
    bottom: 365px;
    width: 40px;
}
.CAM2 {
    position: absolute;
    right:460px;
    bottom: 360px;
    width: 40px;
}
.CAM3 {
    position: absolute;
    right: 460px;
    bottom: 475px;
    width: 40px;
}
.CAM4 {
    position: absolute;
    right: 172px;
    bottom: 378px;
    width: 40px;
}
.CAM5 {
    position: absolute;
    right: 280px;
    bottom: 450px;
    width: 40px;
}
.CAM6 {
    position: absolute;
    right: 172px;
    bottom: 420px;
    width: 40px;
}
.CAM7 {
    position: absolute;
    right: 372px;
    bottom: 330px;
    width: 40px;
}
.CAM8 {
    position: absolute;
    right: 280px;
    bottom: 308px;
    width: 40px;
}
.CAM9 {
    position: absolute;
    right: 450px;
    bottom: 220px;
    width: 40px;
}
.CAM10 {
    position: absolute;
    right: 210px;
    bottom: 220px;
    width: 40px;
}
.Alert {
    position: absolute;
    left: 1075px;
    bottom: 155px;
    width: 100px;
}
.Time {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.GenricToad {
    position: absolute;
    left: 438px;
    bottom: 200px;
    width: 270px;
}
.HallToad {
    position: absolute;
    left: 450px;
    bottom: 450px;
    width: 380px; 
}
.Phantom {
    position: absolute;
    left: 460px;
    bottom: 160px;
    width: 500px;
}
.LeftToad {
    position: absolute;
    left: 11px;
    bottom: 250px;
    width: 250px; 
}
.RightToad {
    position: absolute;
    right: 18px;
    bottom: 250px;
    width: 250px; 
}
.ArmyAntronicHall {
    position: absolute;
    left: 700px;
    bottom: 450px;
    width: 300px;
}
.ArmyAntronic {
    position: absolute;
    left: 450px;
    bottom: 300px;
    width: 300px;
}
.Static {
    position: absolute;
    left: 100px;
    width: 1164px;
    height: 681px;
    top: 20px;
}
.CAM3Toad {
    position: absolute;
    left: 230px;
    bottom: 230px;
    width: 270px;
}
.MusicTimer {
    position: absolute;
    left: 200px;
    bottom: 250px;
    width: 100px;
}

.ButtonPlatform {
    position: absolute;
    bottom: 150px;
    width: 150px;
}
.Kermit {
    position: absolute;
    left: 200px;
    bottom: 100px;
    width: 1000px;
}
.ArmyJumpscare {
    position: absolute;
    left: 200px;
    bottom: 100px;
    width: 1000px;
}
.FlipOutScreen {
    position: absolute;
    left: 80px;
    width: 1200px;
}
.FlipOutTrigger {
    position: absolute;
    left: 200px;
    top: 0px;
    width: 1000px;
}
.Camera {
    position: absolute;
    left: 100px;
    width: 1164px;
    height: 681px;
    top: 20px;
}
.HiddenAudioPlay {
    position: absolute;
    right: 360px;
    width: 50px;
    bottom: 150px;
}
.HomeScreen {
    position: absolute;
    right: 0px;
    top: 0px;
}
.ContinueGame {
    position: absolute;
    left: 5px;
    top: 500px;
    width: 300px;
    height: 45px;
}
.ContinueGame:hover {
    position: absolute;
    left: 0px;
    top: 493px;
    width: 399px;
    height: 60px;
}
.NewGame {
    position: absolute;
    left: 5px;
    top: 570px;
    width: 200px;
}
.NewGame:hover {
    position: absolute;
    left: 0px;
    top: 560px;
    width: 399px;
    height: 60px;
}
.TiltleScreenName {
    position: absolute;
    left: 10px;
    top: -50px;
    font-size: 80px;
    color: rgb(12, 113, 58);
}
.Night {
    position: absolute;
    left: 10px;
    top: 520px;
    font-size: 20px;
    color: rgb(12, 113, 58);
}
.Night6 {
    position: absolute;
    left: 5px;
    top: 630px;
    width: 140px;
    height: 45px;
}
.Night6:hover {
    position: absolute;
    left: 0px;
    top: 620px;
    width: 399px;
    height: 60px;
}
.CustomNight {
    position: absolute;
    left: 5px;
    top: 690px;
    width: 260px;
    height: 45px;
}
.CustomNight:hover {
    position: absolute;
    left: 0px;
    top: 680px;
    width: 399px;
    height: 60px;
}
.Sloth {
    position: absolute;
    left: 500px;
    top: 50px;
    width: 250px;
}
.ShockImage {
    position: absolute;
    left: 345px;
    bottom: 200px;
    width: 40px;
}
.CAM1mini {
    position: absolute;
    left: 30px;
    bottom: 260px;
    width: 40px;
}
.CAM2mini  {
    position: absolute;
    left: 30px;
    bottom: 230px;
    width: 40px;
}
.CAM3mini  {
    position: absolute;
    left: 30px;
    bottom: 200px;
    width: 40px;
}
.CAM4mini  {
    position: absolute;
    left: 30px;
    bottom: 170px;
    width: 40px;
}
.CAM5mini  {
    position: absolute;
    left: 30px;
    bottom: 140px;
    width: 40px;
}
.CAM6mini  {
    position: absolute;
    left: 80px;
    bottom: 260px;
    width: 40px;
}
.CAM7mini  {
    position: absolute;
    left: 80px;
    bottom: 230px;
    width: 40px;
}
.CAM8mini  {
    position: absolute;
    left: 80px;
    bottom: 200px;
    width: 40px;
}
.CAM9mini  {
    position: absolute;
    left: 80px;
    bottom: 170px;
    width: 40px;
}
.CAM10mini  {
    position: absolute;
    left: 80px;
    bottom: 140px;
    width: 40px;
}
.ShockPlatform {
    position: absolute;
    left: 20px;
    bottom: 120px;
    width: 140px;
}
.SoundMuteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
}
.SlothJump {
    position: absolute;
    left: 300px;
    bottom: 0px;
    width: 700px;
}
.CustomScreen {
    position: absolute;
    left: 0px;
    bottom: 75px;
    width: 1440px;
}
.BackButton {
    position: absolute;
    left: 5px;
    bottom: 115px;
    width: 100px;
}
.StartButton {
    position: absolute;
    right: 5px;
    bottom:135px;
    width: 90px;
}
.ToadIncrease {
    position: absolute;
    left: 76px;
    bottom: 801px;
    width: 200px;
}
.ArmyIncrease {
    position: absolute;
    left: 630px;
    bottom: 801px;
    width: 200px;
}
.SlothIncrease {
    position: absolute;
    left: 1162px;
    bottom: 801px;
    width: 200px;
}
.PhantomIncrease {
    position: absolute;
    left: 359px;
    bottom: 422px;
    width: 200px;
}
.SharkIncrease {
    position: absolute;
    left: 904px;
    bottom: 422px;
    width: 200px;
}
.ToadDecrease {
    position: absolute;
    left: 76px;
    bottom: 497px;
    width: 200px;
}
.ArmyDecrease {
    position: absolute;
    left: 629px;
    bottom: 497px;
    width: 200px;
}
.SlothDecrease {
    position: absolute;
    left: 1162px;
    bottom: 497px;
    width: 200px;
}
.PhantomDecrease {
    position: absolute;
    left: 359px;
    bottom: 120px;
    width: 200px;
}
.SharkDecrease {
    position: absolute;
    left: 904px;
    bottom: 120px;
    width: 200px;
}
.ToadDifficulty {
    display: none;
    position: absolute;
    color: white;
    left: 150px;
    bottom: 535px;
    font-size: 100px;
}
.ArmyDifficulty {
    display: none;
    position: absolute;
    color: white;
    left: 705px;
    bottom: 535px;
    font-size: 100px;
}
.SlothDifficulty {
    display: none;
    position: absolute;
    color: white;
    left: 1237px;
    bottom: 535px;
    font-size: 100px;
}
.PhantomDifficulty {
    display: none;
    position: absolute;
    color: white;
    left: 430px;
    bottom: 155px;
    font-size: 100px;
}
.SharkDifficulty {
    display: none;
    position: absolute;
    color: white;
    left: 978px;
    bottom: 155px;
    font-size: 100px;
}